a yellow moon
b yellow star
c yellow gear
d yellow planet

e green moon
f green star
g green gear
h green planet

i red moon
j red star
k red gear
l red planet

m blue moon
n blue star
o blue gear
p blue planet

r rainbow

w wall
^ above wall
v below wall
< left wall
> right wall
x empty
